.product-info {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.product-info h1 {
  font-size: 32px;
  margin: 0 0 10px 0;
}

.product-info p {
  color: #666;
  line-height: 24px;
  margin: 0 0 10px 0;
}

a.back {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 20px auto 0 0;
  border-radius: 5px;
  border: 1px solid #da552f;
  background: #FFF;
  color: #da552f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  max-width: 700px;

  transition: background .2s ease-in, color .2s ease-in;
}

a.back:hover {
  background: #da552f;
  color: #FFF;
}
